<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="APIKey" value="2a1e352deac76c1b856f00075b07cd74" />
		<add key="currentWeatherUrl" value="https://api.openweathermap.org/data/2.5/weather?"/>
		<add key="converterUrl" value="http://api.openweathermap.org/geo/1.0/direct?"/>
		<add key="forecastUrl" value="http://api.openweathermap.org/data/2.5/forecast?"/>
	</appSettings>
</configuration>